<!DOCTYPE html>
<html>
	<head>
		<title>
			{% if item is defined %}
				{{item.name}}
			{% else %}
				Create New Item
			{% endif %}
		</title>
		{% include 'headerScripts.html' %}
		<script type="text/javascript">
			$('#itemForm').submit(function(event) {
				event.preventDefault();
				formItemForSubmit();
				return false;
			});
			
			$('#itemName').keyup(function(e) {
				if (e.keyCode == 13) {
					e.preventDefault();
				};
				formItemForSubmit();
				return false;
			});
			
			function formItemForSubmit() {
				submitItem('{{category.id}}', 
					{
						id: {% if item is defined %} {{item.id}} {% else %} 0 {% endif %},
						name: $('#itemName').val().trim(),
						description: $('#itemDescription').val().trim()
					});
			};
			
		</script>
	</head>
	<body>{% include 'navbar.html' %}
		<div class="container">
			<div class="row">
				<h1>Catalog</h1>
			</div>
			<div class="row">{% include 'categoryList.html' %} {% include 'itemList.html' %}
				<div class="col-md-8">
					<form id="itemForm" onsubmit="return false;">
						<div class="form-group">Item Name:
							<input type="text" id="itemName" value="{% if item is defined %}{{item.name}}{% endif %}" />
						</div>
						<div class="form-group">Item Description:
							<textarea id="itemDescription">{% if item is defined %}{{item.description}}{% endif %}</textarea>
						</div>
						<button id="submitChange" onclick="formItemForSubmit();" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>