<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script type="text/javascript">

function signInCallback(authResult) {
	if (authResult['code']) {
		//Hide button
		$("#sigInButton").attr('style', 'display:none;');
		//Send one-time code
		$.ajax({
			type: 'POST',
			url: '/gconnect?state={{STATE}}',
			processData: false,
			contentType: 'application/octet-stream; charset=utf-8',
			data: authResult['code'],
			success: function(result) {
				if (result) {
					console.log('Logged in');
					location.reload();
				} else if (authResult['error']) {
					console.log('There was an error: ' + authResult['error']);
				} else {
					alert('Failed to make a server-side call.  Check your configuration and console.');
				}
			}
		})
	}
}

function doLogout() {
	$.ajax({
		url: '/gdisconnect',
		processData: false,
		success: function(result) {
			if (result) {
				console.log('Logged out');
				location.reload();
			}
		},
		error: function(result) {
			alert('Error logging out.  Please navigate to the index and try again.');
		}
	})
}

function createCategory() {
	var newCategoryName = prompt("Please enter a new category name:", 'Name');
	
	if (newCategoryName) {
		$.ajax({
			type: 'POST',
			url: '/catalog/create',
			data: {
				name: newCategoryName,
				state: '{{STATE}}'
			},
			success: function(result) {
				window.location.href = '/catalog/' + newCategoryName + '/';
			},
			error: function(result) {
				alert("Could not create new category.");
			}
		});
	}
}

function updateCategory(oldCategoryName) {
	var newCategoryName = prompt("Please enter a new category name:", 'Name');
	
	if (newCategoryName) {
		$.ajax({
			type: 'POST',
			url: '/catalog/' + oldCategoryName + '/update',
			data: {
				name: newCategoryName,
				state: '{{STATE}}'
			},
			success: function(result) {
				window.location.href = '/catalog/' + newCategoryName;
			},
			error: function(result) {
				alert("Could not update category.");
			}
		});
	}
}

function deleteCategory(categoryName) {
	var continueDelete = confirm("Are you sure you want to delete " + categoryName + "?  This will also delete all its items!");
	
	if (continueDelete === true) {
		$.ajax({
			type: 'POST',
			url: '/catalog/' + categoryName + '/delete',
			data: {
				state: '{{STATE}}'
			},
			success: function(result) {
				window.location.href = '/';
			},
			error: function(result) {
				alert("Could not delete category.");
			}
		});
	}
}

function createItem(categoryName) {
	//go to new item template
	window.location.href = '/catalog/' + categoryName + '/createItem?state={{STATE}}';
}

function updateItem(categoryName, itemName) {
	window.location.href = '/catalog/' + categoryName + '/' + itemName + "/edit?state={{STATE}}";
}

function deleteItem(categoryName, itemName) {
	var continueDelete = confirm("Are you sure you want to delete " + itemName + "?")
	
	if (continueDelete === true) {
		$.ajax({
			type: 'POST',
			url: '/catalog/' + categoryName + '/' + itemName + '/delete',
			data: {
				name: itemName,
				state: '{{STATE}}'
			},
			success: function(result) {
				window.location.href = '/';
			},
			error: function(result) {
				alert("Could not delete category.");
			}
		});
	}
}

function submitItem(categoryName) {
	$.ajax({
		type: 'POST',
		url: '/catalog/' + categoryName + '/submitItem',
		data: {
			name: $('#itemName').val().trim(),
			oldName: {% if item is defined %} '{{item.name}}' {% else %} '' {% endif %} , 
			description: $('#itemDescription').val().trim(),
			category: categoryName,
			state: '{{STATE}}'
		},
		success: function(result) {
			console.log("item was submitted");
			window.location.href = '/catalog/' + categoryName + '/' + $('#itemName').val().trim() + '/';
		},
		error: function(result) {
			console.log(result);
			alert("Could not submit item.");
		}
	});
	
	return false;
}

</script>